body {
  font-family: 'Josefin Slab', serif;;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  color: #ffffff;
  line-height: 23px;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  /* overflow-y: hidden; */
  /* animation: moveIt 10s linear infinite; */
  /* cursor: none; */
  /* background-image: linear-gradient(rgb(255, 255, 255), pink); */
}
.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

html {
  /* scroll-behavior: smooth; */
  /* transition: all 0.3s;; */
  /* cursor: none; */
}

header {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background-image: linear-gradient() ;
  scroll-snap-align: start;
}

/* .slide-down {
  transform: translateY(100%);
  animation: slide-down;
} */

header div.welcome {
  margin-bottom: 100px;
  font-family: 'Josefin Slab', serif;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: black;
  padding-top: 50px;
  display: table;
  position: relative;
  width: 80%;
  margin: auto;
}

.women {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0px;
  right: 0px;

}

.sun {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 20px;
  right: 0px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

.bubble {
  width: 150px;
  position: absolute;
  bottom: 180px;
  right: 220px;
}

.hello {
  width: 200px;
  position: absolute;
  bottom: 210px;
  right: 120px;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.clouds {
  width: 200px;
  position: absolute;
  top: 50px;
  left: 0px;
  animation: slide-right 60s linear infinite;
}

@keyframes slide-right {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

.clouds2 {
  width: 200px;
  position: absolute;
  top: 100px;
  left: -200px;
  animation: slide-right 50s linear infinite;
}

.clouds3 {
  width: 200px;
  position: absolute;
  top: 75px;
  right: -200px;
  animation: slide-left 40s linear infinite;
}


.clouds4 {
  width: 200px;
  position: absolute;
  top: 25px;
  right: -100px;
  animation: slide-left 30s linear infinite;
}

@keyframes slide-left {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: 100%;
  }
}

header > * {
  position: absolute;
}

.section1 {
  position: relative;
  min-height: 70vh;
  width: 990px;
  border-radius: 20px;
  border: 2px solid #ffdda0;
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 50px;
  margin: auto;
  background-color: white;
}

.section2 {
  position: relative;
  border-radius: 20px;
  border: 2px solid #a0dfa0;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 990px;
  margin: auto;
  background-color: white;
}

section h3 {
  font-size: 60px;
  font-weight: 300;
  color: black;
  padding-bottom: 55px;
  padding-top: 20px;
  margin-top: 30px;
  font-family: 'Josefin Slab', serif;
}

section p {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: black;
  font-family: 'Josefin Slab', serif;
}

.img {
  height: 250px;
  width: 250px;
  margin: 50px;
  border-radius: 50%;
  border: 2px solid #bbe2e2;
}

.aboutme {
  text-align: justify;
}

header h1 {
  margin-top: 20px;
  font-size: 100px;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 20px;
  font-family: 'Josefin Slab', serif;
  animation: slides 10s linear infinite;
}



header h2 {
  font-size: 50px;
  font-weight: 300;
  font-style: italic;
  color: black;
  padding-bottom: 55px;
  padding-top: 20px;
  font-family: 'Josefin Slab', serif;
}

header .pr {
  color: #a0dfa0;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
}

header .pr:hover {
  color: #bbe2e2;
}

header .sks {
  color: pink;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
}

header .sks:hover {
  color: #bbe2e2;
}

header .sks:hover {
  font-family: 'Josefin Slab', serif;
}

header .at {
  color: #ffdda0;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
}


.first {
  position: relative;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.img-carousel {
  width: 890px;
  border-radius: 20px;
}

.carousel-control-next-icon {
  height: 10rem;
}

.section3s {
  border: 2px solid pink;
  border-radius: 20px;
  position: relative;
  display: flex;
  width: 990px;
  padding: 30px 50px;
  text-align: center;
  margin: auto;
  background-color: white;
}

.section4 {
  min-height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column ;
}

.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232cdada' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232cdada' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon :hover{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23189595' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon :hover{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23189595' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.section5 {
  min-height: 30vh;
  position: relative;
}

.visit {
  font-size: 20px;
  color: #a0dfa0;
}

.cv {
  text-decoration: none;
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.scale {
  transition: 1s;
  color: pink;
  font-size: 30px;
  font-style: italic;
}

.scale:hover {
  color:#a0dfa0;
}

header .cn {
  color: #bbe2e2;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Josefin Slab', serif;
}

.she {
  width: 250px;
  height: auto;
  bottom: 0;
  right: 0px;
  margin-left: 10px;
  border: 2px solid #bbe2e2;
  border-radius: 20px;
}

h2 {
  color: #323131;
  position: relative;
  margin-bottom: 20px;
  font-family: 'Josefin Slab', serif;
}

a {
  text-decoration: none;
  color:#a0dfa0;
  font-weight: 600;
}

a:hover {
  color: pink;
  transition: 1s;
}

.icon {
  color: #a0dfa0;
}

.scroll-down-about {
  position: fixed;
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 40px;
  height: 40px;
  z-index: 9;
  left: 48%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
  border-bottom: 15px solid #2cdada;
  border-right: 15px solid #2cdada;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

.line {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #bbe2e2;
}

footer {
  margin-top:100px;
  height: 100px;
  background-color: #bbe2e2;
  display: flex;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-size: medium;
}

.slink {
  font-size: 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.email {
  font-size: 18px;
  color: green;
}

.email:hover {
  color: pink;
}

#image {
  width: 100%;
  /* height: 100%; */
border: none;
}
.memory-game {
  border: 2px solid #bbe2e2;
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
}

.memory-card {
  border: 2px solid #bbe2e2;
  width: 25%;
  height: 33.33%;
  position: relative;
  /* width: calc(25% - 10px);
  height: calc(33.333% - 50px); */
  margin: 5px;
  /* position: relative; */
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.front-face,
.back-face {
  position: absolute;
  border: 2px solid #bbe2e2;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
}

.back-face {
  font-size: 20px;
}


/* cloud wrapper */

.clouds-wrapper {
  position: relative;
  transform: translateY(70%);
  z-index: 10;
}

.drifting_clouds_right {
  /* animation: driftRightFast 70s infinite forwards; */
  position: relative;
  width: fit-content;
  z-index: 10;
}
.drifting_clouds_left {
  /* animation: driftLeftFast 80s infinite forwards; */
  position: relative;
  width: fit-content;

  z-index: 10;
}

.drifting_clouds_right_slow {
  /* animation: driftRightSlow 100s infinite forwards; */

  position: relative;
  width: fit-content;
  z-index: 10;
}
.drifting_clouds_left_slow {
  /* animation: driftLeftSlow 100s infinite forwards; */

  position: relative;
  width: fit-content;
  z-index: 10;
}
